/* this is a css reset - it fixes a weird box model problem */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* all divs share these properties */
div {
	background-color: rgb(231, 229, 255);
    color: aquamarine;
	width: 10rem;
	height: 10rem;
	padding: 1.5rem;	
	font-size: 1.5rem;
	margin: 2rem;
	box-shadow: 1.5rem .5rem 2.5rem rgb(38, 255, 0);
}	



#one {
	/* change the CSS x property */
	transition-property: all, width, color;
	/* make that change take x second to complete */
	transition-duration: 7s;
	/* how the transtition happens */
	transition-timing-function: ease-in-out;
	/* wait x second after the mouse hovers before starting */
	transition-delay: 2s;

	/*
	shorthand for above:
	transition: ;
 */
}

#one:hover {
	/* the hover state only has to list the value(s) that
	are different from the default state */
	width: 60rem;
}


#two {
	/* list multiple items to change at one time */
	transition: width 1s, height 3s, background-color 0.7s;
}	


#two:hover {
	width: 30rem; 
	height: 55rem;
	background-color: rgb(255, 0, 128);
}



#three {
	/* 
	multiple items, all with different properties
	these are listed on separate lines for clarity,
	but can all be on a single line separated by
	commas

	this would be equally valid: 

	transition: width 2s ease-in 0s, height 2s ease-in-out .5s, background-color 4s ease-out 4s, font-size 2s ease-in-out .5s;

	*/
	transition: width 2s ease-in 0s, 
	height 2s ease-in-out .5s,
	background-color 4s ease-out 4s,
	font-size 2s ease-in-out .5s;
}

#three:hover {
	width: 20rem; 
	height: 20rem;
	background-color: orange;
	font-size: 3rem;
}


#four {
	transition: transform 3s ease-in 1s;
}

#four:hover {
	transform: rotate(180deg);
}